<!DOCTYPE html>
<html>
<head>
  <title>Rails engine two</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rails/engine/two/application", media: "all" %>
  <%= javascript_include_tag "rails/engine/two/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
